.app-body-container {
  min-height: 100%;
  min-height: 1000px;
  background-color: #FAFAFA;
}

.app-main {
  /* overflow: auto; */
  padding-bottom: 40px;
}

.app-footer {
  position: relative;
  height: 40px;
  /* margin-top: -40px; */
  clear: both;
}

.app-container {
  /* display: flex;
  flex-direction: column;
  justify-content: space-between; */
}

.app-body {
  height: 100%;
}

.app-user-profile {
  /* margin: 60px auto 0; */
  margin: auto;
  width: 937px;
  position: relative;

  /* border: red solid 1px; */
}

.app-user-profile-splitter {
  border-top: var(--lightGray) solid 0.5px;
  display: flex;
  justify-content: center;
}

.app-user-profile-splitter a {
  margin: 20px 0;
  margin-right: 60px;
  font-size: 12px;
  font-weight: bold;
  text-decoration: none;
  color: black;
  text-align: center;
}