.cog-button-modal {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.7);
  position: fixed;
  height: 100%;
  width: 100%;
  z-index: 9999999;
}

.greeting-container {
  position: fixed;
  z-index: 999999999;
}

.hide-greeting-modal {
  display: none;
}