.edit-profile-container {
  display: flex;
  margin: auto;
  background-color: white;
  width: calc(237px + 696px)
}

.edit-profile-options, .edit-profile-container form {
  border: 1px solid #dbdbdb;
}

.edit-profile-options {
  width: 237px;
  height: calc(706px + 50px);
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  border-right: none;
}

.edit-profile-options ul li a {
  display: block;
  color: #262626;
  font-size: 16px;
  /* font-weight: 600; */
  padding: 16px 16px 16px 30px;
  text-decoration: none;
}

.edit-profile-options ul li a:hover {
  background-color: var(--lighterGray);
}

.edit-profile-container h1 {
  font-size: 20px;
  font-weight: 400;
  line-height: 22px;
  margin-bottom: 13px;
  margin-left: 174px;
}

.edit-profile-container .form-bottom {
  display: flex;
  
  width: 696px;
  height: 706px;
  border-left: none;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  margin: auto;
}

.edit-profile-container ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.edit-profile-labels {
  margin-left: 32px;
}

.edit-profile-labels ul li {
  text-align: right;
  color: #262626;
  font-size: 16px;
  font-weight: 600;
  line-height: 18px;
  padding: 7px 32px;
  margin-bottom: 15px;

  /* border: red solid 1px; */
}

.edit-profile-labels ul li:first-child {
  margin-bottom: 18px;
}

.edit-profile-labels ul li:nth-child(2) {
  margin-bottom: 19px;
}

.edit-profile-labels ul li:nth-child(3) {
  margin-bottom: 91px;
}

.edit-profile-fields ul li input {
  width: 355px;
  height: 32px;
  border: var(--lightGray) solid 1px;
  border-radius: 3px;
  font-size: 16px;
  margin-bottom: 18px;
  padding: 0 10px;
}

.edit-profile-fields ul li textarea {
  width: 355px;
  height: 60px;
  border: var(--lightGray) solid 1px;
  border-radius: 3px;
  margin-bottom: 18px;
  font-size: 16px;
  padding: 6px 10px;
}

.edit-profile-fields ul li:nth-child(4) div {
  color: #999;
  font-size: 14px;
  font-weight: 600;
  margin-top: 3px;
  margin-bottom: 22px;
}

.edit-profile-field-confirm-email {
  border: var(--lightBlue) solid 1px;
  border-radius: 4px;
  color: white;
  font-size: 14px;
  background-color: var(--lightBlue);
  font-weight: 600;
  padding: 6px 9px;
  margin-bottom: 18px;
  display: block;
  text-decoration: none;
  width: 70px;
  height: 30px;
  text-align: center;
}

.edit-profile-submit {
  width: 68.8px;
  height: 30px;
  background-color: var(--lightBlue);
  color: white;
  border: var(--lightBlue) solid 1px;
  border-radius: 4px;
  /* padding: 5px 9px; */
  font-weight: 600;
  font-size: 14px;
  text-align: center;
  cursor: pointer;
}

.edit-profile-successful-hide {
  position: fixed;
  z-index: 9999999;
  bottom: 0;
  left: 0;
  right: 0;
  border: solid black 0;
  background-color: #262626;
  color: white;
  width: 100%;
  height: 0;
  display: flex;
  align-items: center;
}

.edit-profile-successful-show {
  position: fixed;
  z-index: 9999999;
  bottom: 0;
  left: 0;
  right: 0;
  border: solid black 0;
  background-color: #262626;
  color: white;
  width: 100%;
  height: 44px;
  display: flex;
  align-items: center;
  transform: translateY(44px);

  animation: editShow 3s linear;
}

@keyframes editShow {
  0% {
    transform: translateY(44px);
  }

  30% {
    transform: translateY(0);
  }
  
  40% {
    transform: translateY(0);
  }
  
  50% {
    transform: translateY(0);
  }
  
  60% {
    transform: translateY(0);
  }
  
  70% {
    transform: translateY(0);
  }
  
  80% {
    transform: translateY(22px);
  }
  
  90% {
    transform: translateY(33px);
  }

  100% {
    transform: translateY(44px);
  }
}

.edit-profile-successful div {
  margin-left: 16px;
  font-size: 14px;
}

