footer {
  margin-bottom: 51px;

  /* border: red solid 1px; */
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}

footer .footer-links {
  /* width: 348px;
  margin: auto;
  text-align: center; */
  text-align: center;
}

footer a {
  color: #003569;
  text-decoration: none;
  font-size: 12px;
  font-weight: bold;
  line-height: 1.5rem;
}

footer .footer-copy {
  color: #AFAFAF;
  margin-left: 5%;
}