footer {
  margin-bottom: 51px;
}

footer .footer-links {
  width: 348px;
  margin: auto;
  text-align: center;
}

footer a {
  color: #003569;
  text-decoration: none;
  font-size: 12px;
  font-weight: bold;
  font-weight: 500;
  line-height: 1.5rem;
}

footer .copyright {
  text-align: center;
  font-size: 12px;
  font-weight: bold;
  color: #AFAFAF;
  margin: 5px 0;
}