.greeting {
  display: flex;
  flex-direction: column;
}

.greeting > div {
  /* display: flex;
  justify-content: center;
  align-items: center; */
}

.greeting-first-link a {
  border-top-right-radius: 14px;
  border-top-left-radius: 14px;
}

.greeting a {
  width: 400px;
  height: 48px;
  font-size: 14px;
  background-color: white;
  text-align: center;
  text-decoration: none;
  color: black;
  border-bottom: var(--lightGray) solid 1px;
  cursor: pointer;

  display: flex;
  justify-content: center;
  align-items: center;

  /* border: red solid 1px; */
}

.greeting-cancel {
  border-bottom-left-radius: 14px;
  border-bottom-right-radius: 14px;
  border-bottom: none;
}