.navbar-container {
  z-index: 20;
  position: relative;
  
  background-color: white;
  /* border-bottom: var(--lightGray) solid 1px; */
  height: 77px;

  margin-bottom: 58px;
}

.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 77px;
  background-color: white;
  border-bottom: var(--lightGray) solid 1px;


  position: fixed;
  top: 0;
  right: 0;
  left: 0;
}

/* ================== POLYGRAM LOGO START ================== */
.navbar-polygram-logo a {
  text-decoration: none;
  color: black;
  display: flex;
  align-items: center;
  font-family: 'Grand Hotel', cursive;
  font-size: 27px;
}

.navbar-polygram-logo div {
  background-color: black;
  height: 28px;
  width: 1px;
  margin: 0 16px;
}

.navbar-polygram-logo .fa-instagram {
  font-size: 24px;
}

.navbar-polygram-logo span {
  font-size: 29px;
}
/* ================== POLYGRAM LOGO END ================== */

/* ================== NAVBAR SEARCH BAR START ================== */
.navbar-search-bar {
  margin: 0 240px;
}

.navbar-search-bar input {
  height: 28px;
  width: 215px;
  border: #dbdbdb solid 1px;
  border-radius: 3px;
  padding: 0 10px;
  font-size: 14px;
  background-color: var(--lighterGray);
}

.fa-search {
  color: var(--grayText);
  padding-right: 10px;
  height: 28px;
}

.navbar-search-bar input::placeholder {
  text-align: center;
  color: var(--grayText);
}

.navbar-search-bar input:focus::placeholder {
  text-align: left;
}

.navbar-search-bar input:focus {
  background-color: white;
}
/* ================== NAVBAR SEARCH BAR END ================== */

/* ================== NAVBAR ICONS START ================== */
.navbar-icons {
  display: flex;
  align-items: center;
  font-size: 28px;
}

.navbar-icons a {
  color: black;
}

.fa-plus-square {
  cursor: pointer;
}

.navbar-icons > div {
  margin-left: 26px;
}

.navbar-icons > div:first-child {
  margin: 0;
}

.navbar-heart {
  cursor: pointer;
}

.navbar-user a {
  color: black;
}


/* ================== NAVBAR ICONS END ================== */

/* ================== ACTIVITY ON POSTS ================== */
.navbar-heart-pop-up {
  display: none;
}

.navbar-heart-show {
  display: block;
}

.activity-on-posts {
  background-color: white;
  /* border: var(--lightGray) solid 1px; */
  border-radius: 3px;
  text-align: center;
  position: absolute;
  padding: 30px;
  z-index: 1000;
  top: 7%;
  right: 24.8%;
  box-shadow: 0 0 5px 1px rgb(230, 230, 230);
}

.triangle {
  width: 0;
  height: 0;
  border-left: 12.4px solid transparent;
  border-right: 12.4px solid transparent;
  border-bottom: 12.4px solid var(--lightGray);
  position: absolute;
  z-index: 1000;
  top: 5.7%;
  right: 27.6%;
}
/* ================== ACTIVITY ON POSTS ================== */

.post-form-file-button {
  display: none;
}

.post-form-file-input-form > label {
  border: white solid 1px;
  border-radius: 4px;
  cursor: pointer;
  background-color: white;
  color: var(--lightBlue);
  padding: 5px 20px;
  transition-duration: 0.3s;
}

.post-form-file-input-form > label:hover {
  border: var(--lightBlue) solid 1px;
  background-color: var(--lightBlue);
  color: white;
}

.navbar-icons-plus {
  width: 24px;
  height: auto;
  cursor: pointer;
}

.navbar-icons-compass {
  width: 24px;
  height: auto;
  cursor: pointer;
}

.navbar-icons-heart {
  width: 26px;
  height: auto;
  cursor: pointer;
}

.navbar-icons-user {
  width: 24px;
  height: auto;
  cursor: pointer;
}

