.photo-modal {
  /* width: 935px;
  height: 600px; */
  /* margin-top: -2.3%; */
  /* margin-left: -2.3%; */

  /* margin-top: -21px;
  margin-left: -21px; */

  display: flex;
  justify-content: center;
  align-items: center;

  /* border: green solid 4px; */
}

.photo-modal > div {
  /* border: black solid 1px; */
}
/* ============== PHOTO MODAL PICTURE START ============== */
.photo-modal-picture {
  /* width: 600px; */
  /* width: auto; */
  height: 600px;
  display: flex;
  justify-content: flex-end;
  background-color: black;

  /* border: black solid 3px; */
}

.photo-modal-picture-image {
  /* width: 600px; */
  /* width: auto; */
  max-width: 600px;
  height: 600px;
  object-fit: contain;
  padding: 0;
  margin: 0;
}
/* ============== PHOTO MODAL PICTURE END ============== */



/* ============== PHOTO MODAL DATA START ============== */
.photo-modal-data {
  width: 335px;
  height: 600px;
  font-size: 14px;
  line-height: 18px;
  background-color: white;

  /* border: red solid 3px; */
}

.photo-modal-data  {
  /* border: red solid 1px; */
}

.photo-modal-username {
  width: 287px;
  height: 78px;
  /* padding: 40px 0 20px; */
  padding: 0 20px;
  margin: auto;
  display: flex;
  /* justify-content: center; */
  align-items: center;
  border-bottom: var(--lightGray) solid 1px;
}

.photo-modal-caption-holder {
  padding: 0 16px;
  overflow: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.photo-modal-caption {
  /* width: 335px; */
  width: 287px;
  height: 378px;
  /* padding: 12px 24px; */
  padding: 12px 0;
  /* overflow: auto; */
}

.photo-modal-caption-caption span {
  font-weight: 600;
}

.photo-modal-caption-comments {

}

.photo-modal-data-bottom {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.photo-modal-like-comment {
  width: 287px;
  height: 43px;
  border-top: var(--lightGray) solid 1px;
  padding-top: 2px;
  display: flex;
  justify-content: space-between;
}

.photo-modal-like-comment > div {
  display: flex;
}

.photo-modal-like-comment > div > div {
  margin-top: 8px;
}

.photo-modal-like-comment .fa-heart,
.photo-modal-like-comment .fa-comment,
.photo-modal-like-comment .fa-bookmark {
  font-size: 24px;
}

.user-posts-heart-icon div {
  margin-right: 12px;
}

.user-posts-bookmark-icon div {
  width: 18px;
}

.photo-hide-heart {
  display: none;
}

.photo-show-heart {
  display: block;
}

.photo-hide-bookmark {
  display: none;
}

.photo-show-bookmark {
  display: block;
}

.photo-modal-number-likes {
  width: 287px;
  height: 18px;
  margin-bottom: 4px;
}

.photo-modal-post-date {
  width: 287px;
  height: 19px;
}

.photo-modal-comment-and-modal div {
  width: 287px;
  height: 56px;
  /* margin-top: 4px; */
  border-top: var(--lightGray) solid 1px;
  
  display: flex;
  align-items: center;

  /* border: red solid 1px; */
}

.photo-modal-comment-and-modal div {
  display: flex;
}

.photo-modal-comment-and-modal div textarea {
  resize: none;
  height: 18px;
  max-height: 80px;
  width: 261px;
  background-color: white;
  border: 0;
  color: black;
  font-size: 14px;
  align-self: center;
  padding-right: 26px;
}

.photo-modal-comment-and-modal div input {
  resize: none;
  height: 18px;
  max-height: 80px;
  width: 261px;
  background-color: white;
  border: 0;
  color: black;
  font-size: 14px;
  align-self: center;
  padding-right: 26px;
}

.photo-modal-comment-and-modal div  span {
  height: 24px;
  width: 24px;
  font-size: 24px;
  cursor: pointer;
}

/* ============== PHOTO MODAL DATA END ============== */

.photo-modal-span {
  cursor: pointer;
}

.photo-modal-caption-comments ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.photo-modal-caption-comments ul li {
  padding: 3px 0;
}