.post-index {
  text-align: center;
}

.post-container {
  border: var(--lightGray) solid 1px;
  border-radius: 3px;
  background-color: white;
  width: 616px;
  margin: 0 auto 4.5%;
}

.post-top {
  display: flex;
  /* padding: 12px 0; */
  padding-left: 12px;
  height: 60px;
  padding: 16px;
  align-items: center;
}

.post-caption, .post-likes {
  text-align: left;
  padding-left: 12px;
}

.post-likes, .post-index-timestamp {
  margin-left: 3px;
  margin-right: 3px;
  padding-right: 12px;
}

.post-caption {
  padding: 5px;
  margin-left: 9px;
  padding-right: 12px;
  margin-right: 3px;
}

.post-likes {
  margin-bottom: 4px;
}

.post-username {
  text-align: left;
  font-weight: 600;
  font-size: 14px;
}

.post-username-span {
  font-weight: bold;
}
/* ============================================== */

.index-post-image {
  width: 614px;
  height: auto;
}

/* ============================================== */
.post-actions {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1.6rem;
  /* margin: 8px 0; */
  margin-top: 10px;
}

.fa-heart, .fa-comment, .fa-bookmark {
  cursor: pointer;
}

.heart-hide {
  display: none;
}

.heart-show {
  display: block;
}

.red-heart {
  color: #ED4956;
}

.bookmark-hide {
  display: none;
}

.bookmark-show {
  display: block;
}

.post-like-comment {
  display: flex;
}

.post-like-comment > div {
  margin-left: 14px;
}

.fa-bookmark {
  margin-right: 14px;
}

.post-index-comment-container {
  width: 582px;
  height: 56px;
  padding-right: 26px;
  border-top: var(--lightGray) solid 1px;
  margin: 4px auto 0;
  font-size: 14px;
  line-height: 18px;
  min-height: 56px;

  display: flex;
  align-items: center;
}

.post-index-comment-form textarea {
  width: 556px;
  height: 18px;
  max-height: 80px;
  padding: 0;
  margin: 0;
  outline: 0;
  resize: none;
  border: none;
  font-size: 14px;
}

.post-index-comment-form input {
  width: 556px;
  height: 18px;
  max-height: 80px;
  padding: 0;
  margin: 0;
  outline: 0;
  resize: none;
  border: none;
  font-size: 14px;
}

.post-index-comment-container span {
  height: 24px;
  width: 24px;
  font-size: 24px;
  cursor: pointer;
  margin-bottom: 8px;
}

.user-photo img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.post-index-timestamp {
  height: 19px;
  margin-top: 1px;
  margin-bottom: 5px;
  text-align: left;
  padding-left: 12px;
}

.post-index-timestamp a {
  text-decoration: none;
  color: #999;
  text-transform: uppercase;
  font-size: 11px;
  text-align: left;
  display: block;
  margin-top: 5px;
}

.post-index-comments {
  text-align: left;
  margin-left: 15px;
}

.post-index-comments ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.post-index-comments ul li {
  padding: 3px 0;
}

.comment-li {
  font-weight: 100;
}

.comment-li:hover {
  cursor: pointer;
}

.index-images {
  display: flex;
  justify-content: center;
  align-items: center;
}

.index-like-heart-show {
  width: 120px;
  height: 120px;
  position: absolute;
  opacity: 0.7;
}

.index-like-heart-hide {
  display: none;
}

.post-index-post-modal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.post-index-post-modal > div {
  border-bottom: var(--lightGray) solid 1px;
  cursor: pointer;
}

.post-index-post-modal div:last-child {
  border-bottom: none;
}

.post-index-post-modal a {
  text-decoration: none;
  color: black;
  width: 400px;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.post-index-post-modal a:last-child {
  border: none;
}

.post-index-post-bubble-icon {
  width: 24px;
  height: auto;
  cursor: pointer;
}

.post-index-post-heart-icon {
  width: 26px;
  height: auto;
  cursor: pointer;
}

.post-index-post-heart2-icon {
  width: 26px;
  height: auto;
  cursor: pointer;
}

.post-index-post-bookmark-icon {
  width: 20px;
  height: auto;
  margin-right: 14px;
  cursor: pointer;
}

.post-index-post-bookmark2-icon {
  width: 20.5px;
  height: auto;
  margin-right: 14px;
  cursor: pointer;
}

.post-delete-span-hide {
  display: none;
  /* opacity: 0; */
}

.post-delete-span {
  color: white;
  background-color: rgb(240, 64, 64);
  border-radius: 4px;
  font-size: 12px;
  padding: 5px;
  margin-left: 6px;

  animation: pds 0.2s linear;
}

@keyframes pds {
  0% {
    margin-left: 15px;
    opacity: 0;
  }

  100% {
    margin-left: 6px;
    opacity: 1;
  }
}