.post-index {
  text-align: center;
}

.post-container {
  border: var(--lightGray) solid 1px;
  width: 616px;
  margin: 0 auto 4.5%;
}

.post-top {
  display: flex;
  padding: 12px 0;;
  padding-left: 12px;
}

.post-caption, .post-likes {
  text-align: left;
  padding-left: 12px;
}

.post-username {
  text-align: left;
}

.post-username-span {
  font-weight: bold;
}

.post-index img {
  width: 614px;
  height: auto;
}

.post-actions {
  display: flex;
  justify-content: space-between;
  font-size: 1.6rem;
  margin: 8px 0;
}

.post-like-comment {
  display: flex;
}

.post-like-comment > div {
  margin-left: 14px;
}

.heart2 {
  color: red;
}

.fa-ribbon {
  margin-right: 14px;
}