.user-posts {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 28px;
}

.user-post-photo {
  width: 293px;
  height: 293px;
  background-color: black;
  overflow: hidden;

  display: flex;
  justify-content: center;
  align-items: center;

  position: relative;

  /* border: red solid 3px; */
}

.user-post-photo img {
  /* width: 100%; */
  width: 293px;
  height: 293px;
  object-fit: cover;

  /* border: red solid 1px; */
}

.user-post-photo img:hover {
  cursor: pointer;
  opacity: 0.7;
}

.user-post-photo:hover .user-post-photo-likes-comments {
  visibility: visible;
}

.user-post-photo-likes-comments {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
}

.user-post-photo-likes img {
  width: 20px;
  height: auto;
  margin-right: 7px;
}

.user-post-photo-comments img {
  width: 19px;
  height: auto;
  margin-right: 7px;
}

.user-post-photo-likes-comments div span {
  color: white;
  display: block;
  font-weight: 600;
}

.user-post-photo-likes, .user-post-photo-comments {
  display: flex;
  align-items: center;
  justify-content: center;
}

.user-post-photo-likes span {
  color: white;
  margin-right: 30px;
}

.user-posts-modal-ception {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.user-posts-modal-ception > div {
  border-bottom: var(--lightGray) solid 1px;
  cursor: pointer;
}

.user-posts-modal-ception div:last-child {
  border-bottom: none;
}

.user-posts-modal-ception a {
  text-decoration: none;
  color: black;
  width: 400px;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.user-posts-modal-ception a:last-child {
  border: none;
}

.user-post-delete-post {
  transition-duration: 0.4s;
  width: 400px;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.user-post-delete-post:hover {
  background-color: var(--instaRed);
  color: white;
}

.user-post-edit-post {
  transition-duration: 0.4s;
  width: 400px;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.user-post-edit-post:hover {
  background-color: var(--lightBlue);
  color: white;
}

.photo-modal-caption-caption {
  overflow-wrap: break-word;
}

.photo-modal-post-date {
  height: 19px;
  margin-top: 1px;
  margin-bottom: 5px;
  text-align: left;
}

.photo-modal-post-date a {
  text-decoration: none;
  color: #999;
  text-transform: uppercase;
  font-size: 11px;
  text-align: left;
  display: block;
}