.user-posts {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 28px;
}

.user-post-photo {
  width: 293px;
  height: 293px;
  background-color: black;
  overflow: hidden;

  display: flex;
  justify-content: center;
  align-items: center;
}

.user-post-photo img {
  /* width: 100%; */
  width: 293px;
  height: 293px;
  object-fit: cover;

  /* border: red solid 1px; */
}

.user-post-photo img:hover {
  cursor: pointer;
  opacity: 0.7;
}

.user-posts-modal-ception {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.user-posts-modal-ception > div {
  border-bottom: var(--lightGray) solid 1px;
  cursor: pointer;
}

.user-posts-modal-ception div:last-child {
  border-bottom: none;
}

.user-posts-modal-ception a {
  text-decoration: none;
  color: black;
  width: 400px;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.user-posts-modal-ception a:last-child {
  border: none;
}

.user-post-delete-post {
  transition-duration: 0.4s;
  width: 400px;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.user-post-delete-post:hover {
  background-color: var(--instaRed);
  color: white;
}

.user-post-edit-post {
  width: 400px;
  height: 48px;
  transition-duration: 0.4s;
}

.user-post-edit-post:hover {
  background-color: var(--lightBlue);
}
.user-post-edit-post:hover a {
  color: white;
}