.user-information {
  display: flex;
  margin-bottom: 44px;
  /* justify-content: center; */
  /* display: inline-block; */
}

.profile-picture {
  /* width: 293.66px; */
  width: 33.3333333%;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.profile-information {
  /* width: 615.34px; */
  width: 66.6666666%;
  height: 150px;
}

.user-name-edit-profile-gear-icon {
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
  margin-bottom: 20px;

  /* border: red solid 1px; */
}

.user-name-edit-profile-gear-icon > div {
  margin-right: 17px;
}

.user-profile-top-bar {
  display: flex;
  align-items: center;
}

.user-profile-top-bar div:first-child {
  margin-right: 17px;
}

.user-profile-follow-button {
  background-color: var(--lightBlue);
  border: var(--lightBlue) solid 1px;
  border-radius: 3px;
  padding: 0 24px;
  cursor: pointer;
  color: white;
  font-weight: 600;
  line-height: 26px;
  font-size: 14px;
}

.posts-followers-following {
  margin-bottom: 20px;

  /* border: red solid 1px; */
}

.posts-followers-following div {
  display: inline-block;  
  margin-right: 38px;
  /* border: blue solid 1px; */
}

.user-info {
  /* display: flex; */
  line-height: 24px;
  /* border: red solid 1px; */
}

/* cog */
.fa-cog {
  transition-duration: 0.5s;
  font-size: 24px;
}

.fa-cog:hover {
  cursor: pointer;
}
/* cog */

.edit-profile-button {
 padding: 7px 9px;

 /* background-color: white; */
 display: block;
 text-decoration: none;
 color: #262626;
 background-color: var(--lighterGray);
 font-size: 14px;
 font-weight: 600;
 text-align: center;
 border: #dbdbdb solid 1px;
 border-radius: 4px;
}

.user-profile-username {
  font-size: 28px;
  font-weight: 300;
  line-height: 32px;
  margin: -5px 0 -6px;
}

.user-pro-pic {
  width: 150px;
  height: 150px;
  border-radius: 50%;

  /* border: red solid 1px; */
}

.user-profile-picture-form label {
  cursor: pointer;
}
/* 
.user-profile-picture-form > input {
  display: none;
} */